*{
    margin: 0px;
    box-sizing: border-box;
    padding: 0px;
    font-size: 1.1rem;
}

body{
    height: 100vh;
    display: grid;
    padding: 5px;
    grid-template-columns: minmax(250px, 350px) 1fr;
    grid-template-rows: 50px 2fr 200px;
    background-color: rgb(42, 166, 207);
}

#header{
    display: flex;
    grid-row: 1/ 2;
    grid-column: 1 / 3;
}

#topLeft{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
}

#searchDiv{
    height: 30px;
    display: flex;
    align-items: center;
}

#searchDiv input{
    margin-left: 5px;
    height: 30px;
    padding: 10px 12px;
    padding-right: 32px;
    border: none;
    outline: none;
    border-radius: 100px;
    width: calc(min(500px, 40vw));
    font-size: 1.2rem;
    background-color: rgba(255, 255, 255, 0.6);
}

#searchDiv button{
    background: transparent;
    border: none;
    outline: none;
    margin-left: -32px;
    margin-right: 32px;
    margin-bottom: -4px;
    cursor: pointer;
}

#searchDiv button img{
    height: 24px;
    object-fit: cover;
}

#locationText, #timeText{
    line-height: 30px;
    height: 30px;
    font-size: 1.25rem;
}

#timeText{
    margin-left: 20px;
}

#detailsDiv{
    grid-row: 2 / 3;
    width: 100%;
    grid-column: 2 / 3;
    justify-self: end;
    font-size: 1.2rem;
    padding-right: min(3vw, 20px);
    grid-template-columns: 1fr 175px;
}

#detailsDiv #details{
    justify-self: start;
    align-self: start;
}

#detailsDiv #focus{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: start;
}

#detailsDiv #bigIcon{
    width: min(200px, 15vw);
}

#detailsDiv #iconDescription{
    width: min(200px, 15vw);
    text-align: center;
}


#dayDisplay{
    min-height: 200px;
    overflow-y: scroll;
    max-width: 350px;
    max-height: calc(100vh - 300px);
}

#dayDisplay > div{
    cursor: pointer;
    height: 100px;
}

#dayDisplay > div:hover{
    zoom: 1.2;
    margin-top: -20px;
}


#dayDisplay div img{
    height: 100px;
}

#dayDisplay::-webkit-scrollbar{
    width: 20px;
}

#dayDisplay::-webkit-scrollbar-track{
    background: rgb(42, 166, 207);
}

#dayDisplay::-webkit-scrollbar-thumb{
    background: rgb(60, 60, 75);
}

#dayDisplay::-webkit-scrollbar-thumb:hover{
    background: rgb(40, 40, 50);
}


#forecastDiv{
    grid-row: 3 / 4;
    grid-column: 1 / 3;
    display: flex;
    justify-content: space-around;
    align-self: end;
    height: 240px;
    overflow: hidden;
}

#forecastDiv > div{
    text-align: center;
    align-self: center;
    cursor: pointer;
    width: 160px;
    height: 160px;
}

#forecastDiv div img {
    height: 100px;
}

#forecastDiv > div:hover{
    zoom: 1.2;
    margin-left: -10px;
    margin-right: -10px;
}

.hourlyDisplay{
    display: grid;
    grid-template-columns: 75px 100px;
    grid-template-rows: 1fr 1fr;
    justify-content: center;
}

.hourlyDisplayTemp{
    grid-row: 2 / 3;
    grid-column: 1 / 2;
    align-self: start;
}

.hourlyDisplayTime{
    grid-row: 1 / 2;
    grid-column: 1 / 2;
    align-self: end
}

.hourlyDisplayIcon{
    grid-row: 1 / 3;
    grid-column: 2 / 3;
}